body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h2{
    font-size: 40px;
}
span{
    color:orange
}
p{
    font-size: 15px;
}
.flexible{
    display:flex;
    margin-bottom:100px;
}
.anchor-button{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-image:linear-gradient(orange,red) ;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 10px 10px white;
    
   }
.first-section{
     margin:70px;
}
.first-half{
    width: 50%;
    float:left;
}

.first-half img{
    width:50%;
    margin-left:150px; 
}
.second-section{
    background-image: url("Background/Frame\ 58.jpg");
    background-position:left;
}
.third-section h2{
    text-align:center
}
.third-section p{
    text-align:center
}
.third-half{
    width: 2%;

}
.shadow{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 10px grey;
}
footer{
    text-align: center;
    background-color:black;
    color:white;

}
#black{
    color:grey;
}

     

