body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h2{
    font-size: 40px;
}
span{
    color:orange
}
p{
    font-size: 15px;
}
.flexible{
    display:flex;
    margin-bottom:100px;
}
.anchor-button{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-image:linear-gradient(orange,red) ;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    
   }
.first-section{
     margin:70px;
}
.first-half{
    width: 50%;
    float:left;
}

.first-half img{
    width:50%;
    margin-left:150px; 
}
.second-section{
    background-image: url("Background/Frame\ 58.jpg");
    background-position:left;
}
.third-section h2{
    text-align:center
}
.third-section p{
    text-align:center
}
.third-half{
    width: 60%;

}
.third-half img{
    width: 200px;
}
.shadow{
  width: 360px;
  border-radius: 10px;
  padding: 10px 10px 200px 2px;
  margin-left: 90px;
  margin-right: 10px;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.shadow img{
    width:70%;
    padding-left: 50px;
    border-radius: 10px;
}
footer{
    text-align: center;
    background-color:black;
    color:white;

}
#black{
    color:grey;
}
.flexible p{
    text-align:left;

}


     

